@model List<User>
@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@{
    ViewData["Title"] = "Article Page";
    var userManager = ViewData["UserManager"] as UserManager<User>;
}

@if (User != null && User.Identity != null && User.Identity.IsAuthenticated && (User.IsInRole("Admin")))
{
    <div>
        <div>
            <h3 class="mb-0">Список пользователей:</h3>
            <div class="d-flex flex-wrap mt-2">
                @foreach (var user in Model)
                {
                    <div class="card mw-75 ms-5 mt-1">
                        <div class="card-body">
                            <h5 class="card-title">@user.GetFullName()</h5>
                        <h6 class="card-subtitle mb-2 text-muted">@user.UserName</h6>
                        <p class="card-text">@user.Id</p>
                            <form asp-controller="AccountManager" asp-action="DeleteUser">
                                <input type="hidden" name="id" value="@user.Id" />
                                <input type="submit" class="btn btn-danger mt-1" value="Удалить" />
                            </form>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
}