@model MindScribe.ViewModels.CommentViewModel;

@{
    ViewData["Title"] = "Comment Page";
}

<div class="mt-2">
    <form method="post" action="/Article/{id}/SendComment">
        <input asp-for="Content_comment" class="form-control" />
        <span class="text-danger">@Html.ValidationMessageFor(model => model.Content_comment)</span>
        <input type="hidden" name="id" value="@ViewContext.RouteData.Values["id"]" />
        <input class="btn btn-primary mt-1" type="submit" value="Оставить комментарий" />
    </form>
</div>